<!doctype html>
<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Chess" />
    <meta name="google" value="notranslate">

    <title>Chess</title>
    <script>

        function onGameLoaded() {
        // window.location.href = "uniwebview://game-over?score=" + 100;
        }

        document.cookie = "ksession=1520d34b564082a4:congacum:e84b; kt=cckn; ku=32036d99; expires=Thu, 18 Dec 2020 12:00:00 UTC;"
    </script>
    <script src="Xiangqi/xq.js"></script>

    <script>
        if (/Windows NT|X11/.test(navigator.userAgent))
            document.documentElement.className += " win";

        window.k2mobile = true;
        window.k2spectm = "";
        window.k2prechat = "hi thx gg gl ok lol brb";
        window.ge = 16739791;
        window.ap = 1372034286;
        window.k2lang = "vi";
        window.k2text = { t_recn: "connect" };
        window.k2url = { game: "/en/chess/", home: "/en/" };
        window.onload = k2start;
    </script>

    <style>
        html,
        body {
            height: 100%;
            padding: 0;
            margin: 0;
        }
    </style>

</head>

<body>
Hello
<div id="appcont">
</div>
</body>

<style>
    .sbdrop .tsb{
        background-color: #bbbfff;
        width: 100%;
        top: 75%;
    }
    .tcrdcont {
        display: none;
    }
    .nav0>.mbut{
        display: none;
    }
    .gvhead .thead {
        background-color: #0b536cd6;
    }
</style>
</html>