<!doctype html>
<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Chess" />
    <meta name="google" value="notranslate">

    <title>Chess</title>
    <script>
        function setCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; url=file:///Users/macbookpro/Unity-IoC/Assets/StreamingAssets/view/index.html";
        }

        // document.cookie = "kguess=0 ku=32036d99; kt=cckn; ksession=aff0bd01a52f367e:vinhvu3:deae" +
        //     "expires=Fri, 19 Feb 2021 20:47:11 UTC"
    </script>
    <script src="Xiangqi/xq.js"></script>

    <script>
        if (/Windows NT|X11/.test(navigator.userAgent))
            document.documentElement.className += " win";

        let days = 365;
        setCookie('kguess', '0', days);
        setCookie('kt', 'cckn', days);
        setCookie('ku', 'fc824fe2', days);
        setCookie('ksession', '6e25ec381dd407c8:vinhvu3:b54f', days);

        window.k2mobile = true;
        window.k2spectm = "";
        window.k2prechat = "hi thx gg gl ok lol brb";
        window.ge = 16739791;
        window.ap = 1372034286;
        window.k2lang = "vi";
        window.k2text = { t_recn: "connect" };
        window.k2url = { game: "/en/chess/", home: "/en/" };
        window.onload = k2start;
    </script>

    <style>
        html,
        body {
            height: 100%;
            padding: 0;
            margin: 0;
        }
    </style>

</head>

<body>
<div id="appcont">
</div>
</body>

<style>
    .sbdrop .tsb{
        background-color: #bbbfff;
        width: 100%;
        top: 75%;
    }
    .tcrdcont {
        display: none;
    }
    .nav0>.mbut{
        display: none;
    }
    .gvhead .thead {
        background-color: #0b536cd6;
    }
</style>
</html>